<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>image</key>
		<string>meeting</string>
		<key>title</key>
		<string>会议 1v1</string>
		<key>description</key>
		<string>会议 1v1</string>
		<key>storyboardName</key>
		<string>Meeting</string>
		<key>controllerIdentifier</key>
		<string>MeetingCreateViewController</string>
	</dict>
	<dict>
		<key>image</key>
		<string>live</string>
		<key>title</key>
		<string>Live</string>
		<key>description</key>
		<string>直播</string>
		<key>storyboardName</key>
		<string>Live</string>
		<key>controllerIdentifier</key>
		<string>LiveCreateViewController</string>
	</dict>
	<dict>
		<key>image</key>
		<string>callLib</string>
		<key>title</key>
		<string>CallLib</string>
		<key>description</key>
		<string>会议 1v1</string>
		<key>storyboardName</key>
		<string>CallLib</string>
		<key>controllerIdentifier</key>
		<string>CallLibViewController</string>
	</dict>
	<dict>
		<key>image</key>
		<string>callKit</string>
		<key>title</key>
		<string>CallKit</string>
		<key>description</key>
		<string>会议 1v1</string>
		<key>storyboardName</key>
		<string>CallKit</string>
		<key>controllerIdentifier</key>
		<string>CallKitViewController</string>
	</dict>
	<dict>
		<key>image</key>
		<string>screen</string>
		<key>title</key>
		<string>共享屏幕</string>
		<key>description</key>
		<string>会议 1v1</string>
		<key>storyboardName</key>
		<string>ScreenShare</string>
		<key>controllerIdentifier</key>
		<string>ScreenShareCreateViewController</string>
	</dict>
	<dict>
		<key>image</key>
		<string>live</string>
		<key>title</key>
		<string>CDN</string>
		<key>description</key>
		<string>使用cdn拉流</string>
		<key>storyboardName</key>
		<string>CDN</string>
		<key>controllerIdentifier</key>
		<string>CDNViewController</string>
	</dict>
	<dict>
		<key>image</key>
		<string>actionbar_voice_input_icon</string>
		<key>title</key>
		<string>Device Test</string>
		<key>description</key>
		<string>检测设备声音输入输出是否完好</string>
		<key>storyboardName</key>
		<string>Device</string>
		<key>controllerIdentifier</key>
		<string>DeviceViewController</string>
	</dict>
	<dict>
		<key>image</key>
		<string>callPlus</string>
		<key>title</key>
		<string>CallPlus</string>
		<key>description</key>
		<string>通话1v1</string>
		<key>storyboardName</key>
		<string>CallPlus</string>
		<key>controllerIdentifier</key>
		<string>CallPlusViewController</string>
	</dict>
</array>
</plist>
